<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="google-site-verification" content="yvF7XLG_qSMm67vKZjdTbkHaoz8B4CG41SBSxVswoAQ" />
    <meta charset="UTF-8">
    <meta name="keywords" content="Attendance, nbkristattendance, nbkrist, nbkr, attnbkr, attnbkrist">
    <meta name="description" content="Check Your Attendance here.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/x-icon" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/x-icon" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" type="text/css" href="/static/styles/home.css">
    <title>Att | Admin</title>
</head>

<header>
    <div class="header">
        <a href="{{ url_for('index') }}" class="logo" > ATT | ADMIN</a>
        <div class="header-right">
            <a class="name" href="{{ url_for('adminsuccess') }}">Hello, Admin</a>
        </div>
    </div>
</header>
<body>
<h2 style="text-align: center">Welcome to Admin page</h2>
<table>
    <tr>
        <th>First Year</th>
        <td>Total: {{ fsize }}</td>
        <td>{{ fdata }}</td>

    </tr>

    <tr>
        <th>Second Year</th>
        <td>Total: {{ ssize }}</td>
        <td>{{ sdata }}</td>
    </tr>

    <tr>
        <th>Third Year</th>
        <td>Total: {{ tsize }}</td>

        <td>{{ tdata }}</td>
    </tr>

    <tr>
        <th>Fourth Year</th>
        <td>Total: {{ frsize }}</td>
        <td>{{ frdata }}</td>
    </tr>
    <tr>
        <th>
            Total
        </th>
        <td colspan="2" style="text-align: center;">
            {{ tdsize }}
        </td>
    </tr>
    <tr>
        <th>
            Cache data
        </th>
        <td colspan="2">
            {{ cache }}
        </td>
    </tr>
    <tr>
        <th>
            Names
        </th>
        <td colspan="2">
            {{ names }}
        </td>
    </tr>
</table>

</body>
</html>