<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="google-site-verification" content="yvF7XLG_qSMm67vKZjdTbkHaoz8B4CG41SBSxVswoAQ" />
    <meta charset="UTF-8">
    <meta name="keywords" content="Attendance, nbkristattendance, nbkrist, nbkr, attnbkr, attnbkrist">
    <meta name="description" content="Check Your Attendance here.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/x-icon" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/x-icon" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" type="text/css" href="/static/styles/home.css">
    <title>Att | Nbkrist</title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4640999261594123"
     crossorigin="anonymous"></script>
</head>
<header>
    <div class="header">
        <a href="{{ url_for('index') }}" class="logo" > ATT | NBKRIST</a>
        <div class="header-right">
            <a class="name" href="#">{{ name }}</a>
        </div>
    </div>
</header>
<body>
<div id="loader" style="display: none">
</div>
<form action="/attshow" method="post" id="formbody">
       {% with messages = get_flashed_messages(warning) %}
         {% if messages %}
               {% for message in messages %}
                   <div class="flash"><p>{{ message }}</p></div><br>
               {% endfor %}
         {% endif %}
      {% endwith %}
    <label>
        Enter Your RollNo:
    </label>
    <label>
        <input id="rolno" type="text" name="rollno" value="{{ rollno }}" placeholder="Enter RollNo..." required maxlength="10" title="Enter Complete RollNo" /><br>
    </label>
    <button id="button" title="Get attendance" onclick="mysubmit();">Show</button>
    <p>Your Attendance Till Now : <b style="color: {{ color }}">{{ att }}</b> </p>
</form>

<script type="text/javascript">

 function mysubmit(){
document.getElementById('button').style.cursor='not-allowed';
document.getElementById('button').disabled=true;
document.getElementById('formbody').submit();
 }

</script>

</body>
<div class="footer-basic">
        <footer>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="{{ url_for('admin')}}">Admin</a></li>
                <li class="list-inline-item">Contact us</li>
                <li class="list-inline-item"></li>
                <!--<li class="list-inline-item"><a href="{{ url_for('index') }}">Home</a></li>
                <li class="list-inline-item"><del>Services</del></li>
                <li class="list-inline-item"><a href="#">About</a></li>-->
            </ul>
            <div class="social">
                <!--<a><img src="https://img.icons8.com/fluency/48/000000/facebook-new.png"/></a>
                <a><img src="https://img.icons8.com/color/48/000000/youtube-play.png"/></a>
                <a><img src="https://img.icons8.com/fluency/48/000000/twitter.png"/></a>-->
                <a href="https://www.instagram.com/attnbkrist_tk/" target="_blank"><img src="https://img.icons8.com/color/50/000000/instagram-new.png" alt="instagram"/></a>
                <a href="mailto:attnbkrist@gmail.com?subject=Feedback {{ rollno }}" target="_blank"><img src="https://img.icons8.com/fluency/48/000000/gmail-new.png" alt="gmail"/></a>
            </div>
                <a href="https://www.hitwebcounter.com" target="_blank">
                <img src="https://hitwebcounter.com/counter/counter.php?page=7948968&style=0008&nbdigits=6&type=ip&initCount=0" title="Free Counter" Alt="web counter"   border="0" /></a>

           <p class="copyright">ADSV © 2022</p>
        </footer>
    </div>
</html>