<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="google-site-verification" content="yvF7XLG_qSMm67vKZjdTbkHaoz8B4CG41SBSxVswoAQ" />
    <meta charset="UTF-8">
    <meta name="keywords" content="Attendance, nbkristattendance, nbkrist, nbkr, attnbkr, attnbkrist">
    <meta name="description" content="Check Your Attendance here.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/x-icon" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/x-icon" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>Att | Nbkrist</title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4640999261594123"
     crossorigin="anonymous"></script>
</head>
<style>
    form{
        margin: 20px;
        padding:30px;
        border-radius: 20px;
        background-color: aliceblue;
        text-align: center;
        font-size: 20px;
    }
 input[type=submit]{
       background-color: DodgerBlue;
     font-size: 23px;
  border:none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
    display:inline;
    margin: 20px;
 }
 input[type=text]{
     font-size: 18px;
 }
 footer{
     text-align: center;
     float: bottom;
 }
</style>
<body>
<form action="/attshow" method="post" >
    <label>
        Enter Your RollNo:
    </label>
    <label>
        <input  type="text" name="rollno" value="{{ rollno }}" placeholder="Enter RollNo..." required maxlength="10" title="Enter Complete RollNo"/><br>
    </label>
    <input type="submit" value="Show" title="Get attendance" />
    <p>Your Attendance Till Now : {{ att }} </p>
</form>


</body>
<footer >
<!-- hitwebcounter Code START -->
<a href="https://www.hitwebcounter.com" target="_blank">
<img src="https://hitwebcounter.com/counter/counter.php?page=7948968&style=0008&nbdigits=6&type=ip&initCount=0" title="Free Counter" Alt="web counter"   border="0" /></a>

</footer>
</html>