<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="google-site-verification" content="yvF7XLG_qSMm67vKZjdTbkHaoz8B4CG41SBSxVswoAQ" />
    <meta charset="UTF-8">
    <meta name="keywords" content="Attendance nbkristattendance nbkrist nbkr attnbkr attnbkrist">
    <meta name="description" content="Check Your Attendance here.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/x-icon" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/x-icon" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>Thank You</title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4640999261594123"
     crossorigin="anonymous"></script>
</head>
<body>
<div style="text-align: center;"><h1>Thank You.</h1></div>
<marquee behavior="scroll" direction="left" style="font-weight: bolder">Thank you for using our site. It was just a testing model.</marquee>
<div style="text-align: center;"><a style="text-decoration: none" href = "mailto:attnbkrist@gmail.com?subject = Feedback&body = Message">
Send Feedback
</a></div>

</body>
<footer style=" bottom: 0; position: absolute; display: block; width: 100%;text-align: center">
    <!-- hitwebcounter Code START -->
<a href="https://www.hitwebcounter.com" target="_blank">
<img style="align-content: center" src="https://hitwebcounter.com/counter/counter.php?page=7948968&style=0008&nbdigits=6&type=ip&initCount=0" title="Free Counter" Alt="web counter"   border="0" /></a>

</footer>
</html>