<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="Attendance nbkristattendance nbkrist nbkr attnbkr attnbkrist">
    <meta name="description" content="Check Your Attendance here.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/x-icon" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/x-icon" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>Thank You</title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4640999261594123"
     crossorigin="anonymous"></script>
</head>
<body>
<center><h1>Thank You.</h1></center>
<marquee behavior="scroll" direction="left" style="font-weight: bolder">Thank you for using our site. It was just a testing model.</marquee>
<center><a style="text-decoration: none" href = "mailto:attnbkrist@gmail.com?subject = Feedback&body = Message">
Send Feedback
</a></center>

</body>
</html>